rastervision_pipeline==0.20.2
rastervision_core==0.20.2
numpy==1.23.3
pillow==9.3.0
torch==1.12.1
torchvision==0.13.1
tensorboard==2.10.1
albumentations==1.3.0
cython==0.29.32
pycocotools==2.0.5
psutil==5.9.3
triangle==20220202
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
matplotlib==3.6.1
tqdm==4.64.1
