rastervision_pipeline==0.30.2-dev
rastervision_core==0.30.2-dev
numpy==1.26.4
pillow==10.3.0
torch==2.2.2
torchvision==0.17.2
tensorboard==2.16.2
albumentations==1.4.10
cython==3.0.10
pycocotools==2.0.7
psutil==5.9.3
opencv-python-headless==4.9.0.80
matplotlib==3.8.4
tqdm==4.66.2
onnx==1.16.0
