[run]
source =
    rastervision/
omit =
    rastervision/protos/**.py
    rastervision/utils/filter_geojson.py
    rastervision/utils/geojson.py
    rastervision/utils/misc.py
    rastervision/data/vector_source/label_maker/**.py
