[flake8]
max-line-length = 90

## IGNORES

# E127: flake8 reporting incorrect continuation line indent errors
# on multi-line and multi-level indents

# W503: flake8 reports this as incorrect, and scripts/format_code
# changes code to it, so let format_code win.

# E701 and E704 are triggering due to "x: type" syntax in Configs

# E251 is triggering because of Field(description=()) syntax after yapf inserts a
# new line after the =

# F722 ("syntax error in forward annotation")
# Ignore reason: https://stackoverflow.com/a/64917499/5908685

# F541 ("f-string is missing placeholders")
# Ignore reason: unimportant.

ignore = E127,W503,E701,E704,E251,F722,F541
