[flake8]
max-line-length = 90

## IGNORES

# E127: flake8 reporting incorrect continuation line indent errors
# on multi-line and multi-level indents

# W503: flake8 reports this as incorrect, and scripts/format_code
# changes code to it, so let format_code win.

ignore = E127,W503
