flake8==4.0.*
moto==3.0.6
coverage==5.5
codecov==2.1.12
yapf==0.23.*
unify==0.5
sphinx==4.0.*
sphinx-autobuild==2021.3.*
ptvsd==4.3.*
shapely==1.6.*
scipy>=0.19.1
jupyter==1.*
jupyterlab==3.*
jupyter_contrib_nbextensions==0.5.*
