rastervision_pipeline==0.20
rastervision_aws_s3==0.20
rastervision_aws_batch==0.20
rastervision_core==0.20
rastervision_pytorch_learner==0.20
rastervision_pytorch_backend==0.20
rastervision_gdal_vsi==0.20
