---
- name: Download package
  get_url: url="https://github.com/NVIDIA/nvidia-docker/releases/download/v1.0.0-rc.3/nvidia-docker_1.0.0.rc.3-1_amd64.deb" dest="/tmp/nvidia-docker.deb"

- name: Install package
  apt: deb=/tmp/nvidia-docker.deb
  become: True
  
