boto3
geopandas
humanize
numpy
opencv-python-headless
pillow
pyproj<=3.7.0
pystac
rasterio
rastervision_pipeline==0.31.1
scikit-image
scikit-learn
scipy
shapely
stackstac
tqdm
triangle==20250106
xarray
