rastervision_pipeline==0.13.1
numpy<1.22

# These 3 should be updated together to ensure compatibility. Incompatibility
# results in a warning about pygeos versions.
pygeos==0.13
shapely==1.8.4
geopandas==0.10.2

pillow==8.4.*
pyproj==3.4.*
rasterio==1.2.*
imageio==2.22.*
pystac==1.0.*
scikit-learn==0.24.*
scipy>=0.19.1
joblib>=0.11
threadpoolctl>=2.0.0
opencv-python==4.1.*
opencv-python-headless<4.3
tqdm==4.64.0
