{
    "model": {
        "input_size": 200,
        "type": "RESNET50",
        "load_weights_by_name": true,
        "model_path": ""
    },
    "trainer": {
        "optimizer": {
            "type": "ADAM",
            "init_lr": 0.0001
        },
        "options": {
            "training_data_dir": "",
            "validation_data_dir": "",
            "nb_epochs": 5,
            "save_best": false,
            "lr_schedule": [
                {
                    "epoch": 0,
                    "lr": 0.0001
                }
            ],
            "batch_size": 4,
            "input_size": 200,
            "output_dir": "",
            "class_names": [],
            "short_epoch": false
        }
    }
}
