sphinx==5.3.0
furo==2022.9.29
myst-parser==0.18.1
autodoc-pydantic==1.8.0
nbsphinx==0.8.9
sphinx-copybutton==0.5.*
readthedocs-sphinx-search==0.1.*

# update when this is resolved: https://github.com/spatialaudio/nbsphinx/issues/655
sphinx-gallery>=0.10,<0.11

# Needed to make syntax highlighting work correctly on readthedocs.
# See https://github.com/spatialaudio/nbsphinx/issues/24.
ipython==8.5.0
