/* to make captions in the notebook gallery larger */
article p.caption {
	font-size: inherit;
}

/* nbsphinx: removes the input and output prompts from code cells */
.nbinput .prompt,
.nboutput .prompt {
	display: none;
}

/* restrict code-block height and add scroll-bars */
pre {
	max-height: 400px;
	overflow: scroll;
}

/* make scrollbars thicker */
.sidebar-scroll::-webkit-scrollbar,
.toc-scroll::-webkit-scrollbar,
article[role=main] ::-webkit-scrollbar {
	height: 0.75rem !important;
	width: 0.75rem !important;
}

/*
The furo theme allows specifying different versions of the same image for
light and dark modes by using the ":class: only-light" and ":class: only-dark"
options with the image directive. Instead of specifying different images, we
specify the same image for both and use the color-inversion below for dark
mode. This saves us the trouble of creating dark versions for each image.
*/
img.only-dark {
	filter: invert(85%) hue-rotate(180deg);
}

/* dark mode styling for notebook gallery items */
body[data-theme=dark] div.sphx-glr-thumbcontainer {
	background-color: #222;
	border-color: #333;
}
